<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
	
		
		<add key="RutaDatos" value="%LOCALAPPDATA%\\eGestalt\\Datos" />
		<add key="RutaBackup" value="%LOCALAPPDATA%\\eGestalt\\Backups" />
		<add key="PDF" value="%LOCALAPPDATA%\\eGestalt\\Facturas" />
		<add key="Cupon" value="%LOCALAPPDATA%\\eGestalt\\Cupones" />
		<add key="RutaRecursos" value="%LOCALAPPDATA%\\eGestalt\\Recursos" />
		
		<add key="Nombre" value="Secretaría De Extensión" />
		<add key="Direccion" value="Facultad de Psicología - UNC" />
		<add key="PtoVenta" value="1" />

	</appSettings>
</configuration>